/*一般設定*/
@import url(http://fonts.googleapis.com/earlyaccess/notosanstc.css);
p,
h1,
h2,
h3,
h4,
h5,
h6 {
    letter-spacing: 0.3px;
    font-family: 'Noto Sans TC', sans-serif; 
}



.headerbar {
    background-color: #453b34;
    text-align: center;
    position: relative;
    width: auto;
    height: 100px;
    line-height: 100px;
    opacity: 0.8;
}
/*css選擇氣 element1 element2 
是選擇el1內所有的ㄍ*/
.headerbar p {
    display: inline;
    padding: 0px;
    font-size: 40px;
    color: white;
}

.spcial-img {
    position: relative;
    width: auto;
    height: 330px;
    /*   ../ 指css資料夾上一層其他資料夾 */
    background-image: url(../img/im01.jpeg);
}

header {
    padding: 30px 30px 0 30px;
}

.description {
    text-align: center
}
nav ul>li {
    display: inline-block;
    list-style: none;
    list-style-position: inside;
    border: 1px solid #453b34;
    width:100px;
    height: 30px;
    text-align: center;
    line-height: 30px;
    
}

nav a:{
    color: black;
    text-decoration: none;
    
}

/* first-child選擇下層第一個em
而下層這em是<article>，可以嘗試在
<article>前在＋<p>

article:first-child {
    background-color:aqua;   
}
*/

/* first-child選擇下層第一個類型是<article>，可以嘗試在
<article>前在＋<p>
######最常使用的語法######

article:first-of-type {
    background-color:aqua;   
}
*/
article{
padding: 5px 30px 5px 30px;     
}

/*odd 指奇數列*/
article:nth-of-type(odd){
    background-color: #ebebeb;
}

/*(1) 指定第一篇*/
article:nth-of-type(1){
    background-color: #453b34;
    border-bottom: 1px solid #ddd;
    color: white;
}
/*not(:...) 反向選擇*/
article:not(:first-of-type){
    display: inline-block;
    width: 400px;
    margin: 5px;
}

#back-top {
    border: 1px solid;
    background-color: black;
    opacity: 0.8;
    width: 50px;
    height: 50px;
    position: fixed;
    bottom:0;
    right:0;
        -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    border-radius: 50px;
    text-align: center;
}

#back-top a{
    display: inline;
    line-height: 50px;
    color: white;
    text-decoration: none;
    font-family: 'Noto Sans TC', sans-serif;
    font-size: 15px;
    letter-spacing: 1px;
    
}

#back-top a>img {
    padding: 10px;
    width: 30px
    
}


